<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HỒ SƠ BỆNH NHÂN</title>
</head>
<body>
{% load static %}

<div class="medical-page-body">
   <div class="container container-medical mt-5">
      <!-- Bộ lọc -->
      <div class="filter-component-medical">
         <div class="reset-filter-medical">
            <i class="reset-filter-medical-icon fa-solid fa-filter-circle-xmark"></i>
         </div>
         <div class="radio-today">
            <label class="check-today-medical-label" for="check-today-medical">Hôm nay</label>
            <input type="radio" id="check-today-medical">
         </div>
         <div class="input-medical">
            <div class="filter-input-medical input-date-medical">
               <label for="date-medical-value">Ngày cần tìm</label>
               <input type="date" class="input-filter-medical" id="date-medical-value">
            </div>
            <div class="filter-input-medical input-namepatient-medical">
               <label for="namepatient-medical-value">Tên bệnh nhân</label>
               <input type="text" class="input-filter-medical" id="namepatient-medical-value">
            </div>
            <div class="filter-input-medical btn-search-medical">
               <button id="btn-search-medical">Tìm kiếm</button>
            </div>
         </div>
      </div>

      <!-- Bảng danh sách hồ sơ y tế -->
      <div id="dynamic-medical">
         <table class="table table-hover">
            <thead>
               <tr>
                  <th scope="col">STT</th>
                  <th scope="col">Tên bệnh nhân</th>
                  <th scope="col">Ngày khám</th>
                  <th scope="col">Ca khám</th>
                  <th scope="col">Kết luận của bác sĩ</th>
                  <th scope="col">Chi tiết</th>
               </tr>
            </thead>
            <tbody>
               {% if listMedicalRecordRespone and listMedicalRecordRespone|length > 0 %}
                  {% for medicalRecord in listMedicalRecordRespone %}
                  <tr class="row-medicalrecord">
                     <th scope="row">{{ forloop.counter }}</th>
                     <td id="name-patient">{{ medicalRecord.patientName }}</td>
                     <td id="medical-id" style="display: none;">{{ medicalRecord.medicalRecordId }}</td>
                     <td id="schedule-date-value">{{ medicalRecord.date|date:"d/m/Y" }}</td>
                     <td id="schedule-shift-value">{{ medicalRecord.shift.timeStart }} - {{ medicalRecord.shift.timeEnd }}</td>
                     <td id="medicalRecord-value">
                        <span class="diagnosis-content">
                           {% if not medicalRecord.diagnosis %}
                              trống
                           {% else %}
                              {{ medicalRecord.diagnosis }}
                           {% endif %}
                        </span>
                     </td>
                     <td>
                        <a class="detail-content" data-bs-toggle="modal" data-bs-target="#medicalRecord">Chi tiết</a>
                     </td>
                  </tr>
                  {% endfor %}
               {% else %}
                  <tr>
                     <td colspan="6">Không có dữ liệu</td>
                  </tr>
               {% endif %}
            </tbody>
         </table>
      </div>

      <!-- Modal chi tiết hồ sơ -->
      <div class="modal fade" id="medicalRecord" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Chi tiết đơn khám</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                  <form method="POST" id="form-update-medicalrecord">
                     {% csrf_token %}
                     <div class="mb-3">
                        <label for="recipient-name" class="col-form-label col-form-label-style">Tên bệnh nhân</label>
                        <input type="text" class="form-control" id="patient-name" readonly>
                     </div>
                     <div class="mb-3">
                        <label for="recipient-name" class="col-form-label col-form-label-style">Ngày khám</label>
                        <input type="text" class="form-control" id="date-value" readonly>
                     </div>
                     <div class="mb-3">
                        <label for="recipient-name" class="col-form-label col-form-label-style">Giờ khám</label>
                        <input type="text" class="form-control" id="shift-value" readonly>
                     </div>
                     <div class="mb-3" style="display: none;">
                        <input type="text" class="form-control" id="medicalRecordId" readonly>
                     </div>
                     <div class="mb-3">
                        <label for="message-text" class="col-form-label col-form-label-style">Kết luận của bác sĩ</label>
                        <textarea class="form-control txt-area-medicalrecord" id="medical-value" readonly></textarea>
                     </div>
                  </form>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btn-exit-medical" data-bs-dismiss="modal">Đóng</button>
                  <button type="button" class="btn btn-primary btn-edit-medical" style="display: block;">Chỉnh sửa</button>
                  <button type="button" class="btn btn-primary btn-save-medical" style="display: none;">Lưu thay đổi</button>
               </div>
            </div>
         </div>
      </div>
   </div>
  <style>
     .input-filter-medical{
      width: 250px;
    }
    .reset-filter-medical-icon{
      height: 13px;
    }
    .reset-filter-medical{
      display: flex;
      width: 50px;
      height: 25px;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      border: solid 1px rgb(45,135,243);
      border-radius: 8px;
      cursor: pointer;
    }
    #btn-search-medical{
      background-color: rgb(45,135,243);
      width: 100px;
      height: 30px;
      border-radius: 5px;
      border: none;
      color: white;
    }
    .container-medical{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .filter-component-medical{
      display: flex;
      padding: 25px 16px;

    }
    #check-today-medical{
      position: relative;
      width: 19px;
      height: 19px;
      top : 4px;
    }
    .filter-input-medical{
      padding-right: 20px;
    }
    .input-medical{
      display: flex;
      padding-left: 20px;
    }
    .detail-content{
        text-decoration: underline;
        color: #000;
    }
    .detail-content:hover{
        cursor: pointer;
        color: rgb(25, 64, 240);
    }
    .txt-area-medicalrecord{
      height: 150px;
    }
    .diagnosis-content{
      display: block;
      width: 140px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .col-form-label-style{
      font-weight: 500;
    }
    .custom-color-class {
      color: rgb(222, 131, 89) !important;
    }
  </style>
  <script>
      {
        const btnSearchMedical = document.getElementById('btn-search-medical')
        var _btnToday = document.getElementById("check-today-medical")
        var _date = document.getElementById("date-medical-value")
        var _namePatient = document.getElementById("namepatient-medical-value")
        var resetFilter = document.querySelector('.reset-filter-medical')

        function handleMedical(){
          const MedicalRecords = document.querySelectorAll('.row-medicalrecord')
          const btnEdit = document.querySelector('.btn-edit-medical')
          const btnSave = document.querySelector('.btn-save-medical')
          var patientName_dataform = document.querySelector('#patient-name')
          var date_dataform = document.querySelector('#date-value')
          var shift_dataform = document.querySelector('#shift-value')
          var medicalRecord_dataform = document.querySelector('#medical-value')
          var medicalRecord_id = document.querySelector('#medicalRecordId')
          var form = document.getElementById('form-update-medicalrecord')

          let _index = null
          MedicalRecords.forEach((medical, index) => {
            var diagnosis = medical.querySelector('#medicalRecord-value')
            if(diagnosis.textContent === 'trống') {
              diagnosis.classList.add('custom-color-class');
            }
            medical.onclick = (e) => {
              var target = e.target

              var patientName = medical.querySelector('#name-patinet').textContent
              var date = medical.querySelector('#schedule-date-value').textContent
              var shift = medical.querySelector('#schedule-shift-value').textContent
              var medicalRecord = medical.querySelector('#medicalRecord-value').textContent
              var medicalRecordId = medical.querySelector('#medical-id').textContent

              if(target.classList.contains('detail-content')){

                patientName_dataform.value = patientName
                date_dataform.value = date
                shift_dataform.value = shift
                medicalRecord_id.value = medicalRecordId

                _index = index
                medicalRecord_dataform.value = ''
                if(medicalRecord !== 'trống'){
                  medicalRecord_dataform.value = medicalRecord
                }
                medicalRecord_dataform.setAttribute('readonly', 'readonly');
                btnEdit.style.display = 'block'
                btnSave.style.display = 'none'
              }
            }
          })

          btnEdit.onclick = () => {

            medicalRecord_dataform.removeAttribute('readonly')
            medicalRecord_dataform.focus()
            btnEdit.style.display = 'none'
            btnSave.style.display = 'block'
          }

          btnSave.onclick = () => {
            medicalRecord_dataform.setAttribute('readonly', 'readonly');
            btnEdit.style.display = 'block'
            btnSave.style.display = 'none'

            var _url = '/home/doctor/update-medicalrecord'

            document.querySelector('.btn-exit-medical').click()
            setTimeout(function(){
              if(!medicalRecord_dataform.value.trim()) medicalRecord_dataform.value = ''
              medicalRecord_dataform.value = medicalRecord_dataform.value.trim()
              var formData = new FormData(form);

              $.ajax({
                url: _url,
                type: 'PUT',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                  var currDiagnosis =  MedicalRecords[_index].querySelector('#medicalRecord-value');
                  var childSpanDiagnosis = currDiagnosis.querySelector('.diagnosis-content')

                  childSpanDiagnosis.textContent = 'trống'
                  !currDiagnosis.classList.contains('custom-color-class') && currDiagnosis.classList.add('custom-color-class')

                  if(medicalRecord_dataform.value.trim()){
                    childSpanDiagnosis.textContent = medicalRecord_dataform.value.trim()
                    currDiagnosis.classList.contains('custom-color-class') && currDiagnosis.classList.remove('custom-color-class')
                  }

                  toast({
                    title: 'Thành công',
                    msg: 'Chỉnh sửa bệnh án thành công!',
                    type: 'succeces',
                    duration: 5000
                  })
                }
              });
            }, 500)

          }
        }

        handleMedical()

        btnSearchMedical.onclick = () => {
          var btnToday = document.getElementById("check-today-medical")
          var date = document.getElementById("date-medical-value")
          var namePatient = document.getElementById("namepatient-medical-value")

          var _url = '/home/doctor/medical-filter'

          var final_url = `${_url}?today=${btnToday.checked}&date=${date.value}&namePatient=${namePatient.value}`

          console.log(final_url)

          $.ajax({
            url: final_url,

            success: function (result) {
              $("#dynamic-medical").html(result);
              handleMedical()
            }
          });
        }

        let state_today = _btnToday.checked
        _btnToday.onclick = () => {

          _date.value = null

          _namePatient.value = null

          var _url = '/home/doctor/medical-filter'

          var final_url = `${_url}?today=${_btnToday.checked}&date=&namePatient=`

          console.log(final_url)

          if(!state_today){
            $.ajax({
              url: final_url,

              success: function (result) {
                $("#dynamic-medical").html(result);
                handleMedical()
              }
            });
          }
        }

        _date.onchange = () => {

          _btnToday.checked = false

          _namePatient.value = null

          var _url = '/home/doctor/medical-filter'

          var final_url = `${_url}?today=${_btnToday.checked}&date=${_date.value}&namePatient=`

          console.log(final_url)

          $.ajax({
            url: final_url,

            success: function (result) {
              $("#dynamic-medical").html(result);
              handleMedical()
            }
          });
        }

        resetFilter.onclick = () => {

          _btnToday.checked = false
          _date.value = null
          _namePatient.value = null

          var _url = '/home/doctor/medical-filter'

          var final_url = `${_url}?today=&date=&namePatient=`

          console.log(final_url)

          $.ajax({
            url: final_url,

            success: function (result) {
              $("#dynamic-medical").html(result);
              handleMedical()
            }
          });
        }
      }

   </script>
</div>
</body>
</html>