{% load static %}
<div class="nav">
    <nav>
        <div class="nav-link">
            <div class="container container-custom" style="max-width: 1474px;">
                <a class="link" href="{% url 'homepage' %}">
                    <i class="fa-solid fa-house"></i>
                </a>
                <a class="link" href="">GIỚI THIỆU</a>
                <a class="link" href="">CHUYÊN KHOA</a>
                <a class="link team-of-doctors">ĐỘI NGŨ BÁC SĨ</a>
                <a class="link" href="">DỊCH VỤ</a>
                <a class="link" href="">THÀNH TỰU</a>
                <a class="link" href="">TIN TỨC</a>
                <a class="link team-of-doctors">LIÊN HỆ</a>
                <div id="link-popup" class="link">ĐẶT LỊCH NGAY</div>
                <a class="link" href=" {% url 'login' %} ">ĐĂNG NHẬP</a>
            </div>
        </div>
    </nav>
    <div class="customer">
        <span class="content-TC">Trang chủ >></span>
        <span class="content-KH">Dành cho khách</span>
    </div>
</div>
