{% load static %}
<div class="navDoctorLogged">
    <nav>
        <div class="nav-link">
            <div class="container container-custom navLogged">
                <a class="link" href="{% url 'homepage' %}">
                    <i class="fa-solid fa-house"></i>
                </a>
                <a href="{%url "gudmec"%}"class="link">GIỚI THIỆU</a>
                <a href="{%url "chuyenkhoa"%}" class="link" >CHUYÊN KHOA</a>
                <a href="{%url "doingubacsiDocotr"%}" class="link team-of-doctors">ĐỘI NGŨ BÁC SĨ</a>
                <a class="link" href="/dichvu/">DỊCH VỤ</a>
                <a class="link" href="/thanhtuu/">THÀNH TỰU</a>

                <li class="link dropdown" style="width: 158px;">
                    <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">TIN TỨC</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/posts/">XEM TIN TỨC</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/news/">ĐĂNG BÀI VIẾT MỚI</a></li>
                    </ul>
                </li>
                <a class="link team-of-doctors">LIÊN HỆ</a>
                <a class="link url-get-medical" href="{% url 'appointmentDoctor' %}">LỊCH ĐẶT KHÁM</a>
                <li class="link dropdown" style="width: 158px;">
                    <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">HỒ SƠ</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'editdoctor' %}">Thông tin cá nhân</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><div class="dropdown-item btn-logout" href="">Đăng xuất</div></li>
                    {% comment %} <ul class="dropdown-menu">
                        <li><a class="dropdown-item btn-logout" href=""></a></li>
                    </ul> {% endcomment %}
                </li>
                <div class="line"></div>
            </div>
        </div>
    </nav>
    <div class="customer">
        <span class="content-TC">Trang chủ >></span>
        <span class="content-KH">Dành cho bác sĩ</span>
    </div>
</div>
