{% load static %}
<div class="navDoctorLogged">
    <nav>
        <div class="nav-link">
            <div class="container container-custom navLogged">
                <a class="link" href="{% url 'homepage' %}">
                    <i class="fa-solid fa-house"></i>
                </a>
                <a class="link">GIỚI THIỆU</a>
                <a class="link" href="">CHUYÊN KHOA</a>
                <a class="link team-of-doctors">ĐỘI NGŨ BÁC SĨ</a>
                <a class="link" href="">DỊCH VỤ</a>
                <a class="link" href="">THÀNH TỰU</a>

                <li class="link dropdown" style="width: 158px;">
                    <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">TIN TỨC</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="">XEM TIN TỨC</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="">ĐĂNG BÀI VIẾT MỚI</a></li>
                    </ul>
                </li>
                <a class="link team-of-doctors">LIÊN HỆ</a>
                <a class="link url-get-medical" href="">LỊCH ĐẶT KHÁM</a>
                <li class="link dropdown" style="width: 158px;">
                    <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">HỒ SƠ</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item btn-logout" href="">ĐĂNG XUẤT</a></li>
                    </ul>
                </li>
                <div class="line"></div>
            </div>
        </div>
    </nav>
    <div class="customer">
        <span class="content-TC">Trang chủ >></span>
        <span class="content-KH">Dành cho bác sĩ</span>
    </div>
</div>
