{% load static %}
<div class="navLogged">
    <nav>
        <div class="nav-link">
            <div class="container container-custom navLogged">
                <a class="link" href="{% url 'homepage' %}">
                    <i class="fa-solid fa-house"></i>
                </a>
                <a class="link" href="/gudmec/">GIỚI THIỆU</a>
                <a class="link" href="/chuyenkhoa/">CHUYÊN KHOA</a>
                <a href="/doi-ngu-bac-si/" class="link team-of-doctors">ĐỘI NGŨ BÁC SĨ</a>
                <a class="link" href="/dichvu/">DỊCH VỤ</a>
                <a class="link" href="{%url "thanhtuu"%}">THÀNH TỰU</a>
                <a class="link" href="/posts/">TIN TỨC</a>
                <a class="link team-of-doctors">LIÊN HỆ</a>
                <a id="link-popup" class="link">ĐẶT LỊCH NGAY</a>
                <li class="link dropdown" style="width: 158px;">
                    <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">HỒ SƠ</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'edit' %}">Thông tin cá nhân</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><div class="dropdown-item btn-logout" href="">Đăng xuất</div></li>
                    </ul>
                </li>
                <div class="line"></div>
            </div>
        </div>
    </nav>
    <div class="customer">
        <span class="content-TC">Trang chủ >></span>
        <span class="content-KH">Dành cho khách hàng</span>
    </div>
</div>
