.header-nav .img-absolute {
    position: absolute;
    height: 270px;
    width: 100%;
    z-index: -100;
}

.customer {
    position: relative;
    width: auto;
    height: 40px;
    background-color: rgb(244, 237, 237);
}

.customer .content-TC {
    position: relative;
    padding-left: 100px;
    top: 8px;
    font-weight: 500;
}

.container.body-home {
    padding-top: 1.5rem !important;
}

.home-body {
    background-color: rgb(245, 245, 245);
}

.container .mt-4 .row .col-card {
    margin-bottom: 10px;
    margin-top: 40px;
}

.container .mt-4 .row .col-card .card .card-body {
    height: 80px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.container .mt-4 .row .col-card .card {
    cursor: pointer;
    border: none;
}

.container .mt-4 .row .col-card .card:hover {
    transform: scale(1.01);
}

.container .mt-4 .row {
    padding-top: 30px;
    padding-bottom: 40px;
}

.customer .content-KH {
    position: relative;
    top: 8px;
    font-weight: 500;
    color: #53A4D1;
}

.text-DNBS {
    position: relative;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 600;
    border-top: 2px solid black;
}

.list-bs {
    display: flex;
    flex-direction: column;
    position: relative;
    height: fit-content;
    background-color: rgb(230 219 231 / 54%);
}

.list-bs .container .row .card-bs .card img {
    width: 220.21px;
    height: 208.08px;
    border-radius: 25%;
}

.list-bs .container .row .card-bs .card {
    border: none;
    background-color: transparent;
    margin-left: 60px;
    margin-top: 20px;
}

.list-bs .container .row .card-bs .card .card-body {
    height: 100px;
    margin-left: -20px;
}

.list-bs .container .row .card-bs .card .card-body .card-text {
    color: black;
    font-weight: 700;
}

.header-nav .img-logo {
    margin-top: 20px;
    margin-left: 40px;
}

.header-nav .content {
    position: absolute;
    font-family: inder;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 50px;
    left: 320px;
    color: #095F8B;
}

.header-nav .content span {
    text-shadow: -2px 0 #2caff036, 0 2px #2caff036, 2px 0 #2caff036, 0 -2px #2caff036;
    white-space: pre-line;
}

.header-nav {
    height: 130px;
    background: linear-gradient(90deg, #FFFFFF 15.49%, #FA8FC9 36.62%, #A62C82 57.75%, #2B4B9B 100%);
}

div a {
    color: #fff;
    text-decoration: none;
}

div li a {
    color: black;
    text-decoration: none;
}

nav .nav-link {
    background-color: black;
    height: 47px;
    top: 247px;
    border-bottom: 5px solid transparent;
}

.nav-link .container-custom.navLogged {
    background-color: black;
    padding: 0px;
    margin: 0px;
    max-width: 1480px;
    height: 47px;
}

.nav-link .container-custom {
    max-width: 1334px;
    height: 47px;
    margin-top: -8px;
}

.container.container-custom .link {
    position: relative;
    display: inline-block;
    width: 145.66px;
    height: 47px;
    text-align: center;
    font-weight: 500;
    padding-top: 10px;
    margin-right: -5px;
    cursor: pointer;
    border-bottom: 5px solid transparent;
    opacity: 0.7;
    transition: all 0.5s ease;
}

.container.container-custom .link.active {
    color: black;
    background-color: rgb(243, 246, 246);
    border-color: rgb(61, 111, 197);
    opacity: 1;
}

.container.container-custom .link:hover {
    color: white;
    border-color: rgb(178, 201, 240);
    opacity: 1;
}

.container.container-custom .link.active:hover {
    color: black;
    border-color: rgb(61, 111, 197);
    opacity: 1;
}

.container.container-custom .link.dropdown {
    color: black;
    opacity: 1;
}

.dropdown-toggle {
    color: #ffffffb8;
}

.link.dropdown.active .dropdown-toggle {
    color: black;
    /* Change to the desired active color */
}

.nav-link .container.container-custom .line {
    position: absolute;
    display: none;
    left: 0;
    width: 0px;
    height: 5px;
    bottom: 0px;
    border-radius: 15px;
    background-color: rgb(30, 84, 178);
    transition: all 0.2s ease;
}

.fa-solid {
    padding-right: 1px;
}

.sticky-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

.row-list-doctor {
    overflow: hidden;
    display: flex;
}

.pop-up {
    display: none;
    position: relative;
    height: fit-content;
    background-color: rgb(245, 249, 251);
    top: -39.5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    transition: all 0.2s ease-in-out;
}

.list-department .item-department {
    display: flex;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 22px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.list-department .item-department .department-item {
    width: 100%;
    height: 100%;
    padding-top: 13px;
    text-align: center;
    color: black;
    box-shadow: -1px 4px 39px rgb(0 0 0 / 8%);
    border-radius: 20px;
}

.list-department .item-department:hover {
    box-shadow: 0px 4px 39px rgba(0, 0, 0, 0.1);
}

.container.container-custom2 {
    display: block;
    margin: 0 100px;
    max-width: 1260px;
}

.container.container-custom2 .text-and-btn {
    display: flex;
    padding-top: 25px;
    margin-bottom: 50px;
}

.container.container-custom2 .text-and-btn span {
    margin-left: 100px;
    font-size: large;
    padding-top: 10px;
    font-weight: 600;
}

.ml-auto {
    position: relative;
    left: 965px;
    top: 14px;
}

.toast+.toast {
    margin-top: 24px;
}

#toasts_show {
    position: fixed;
    right: 32px;
    top: 32px;
    z-index: 99999999999999;
}

@keyframes slideInleft {
    from {
        transform: translateX(calc(100% + 32px));
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateX(0);
    }
}

.toast_show {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 420px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
}

.toast--succeces {
    border-color: #3f8428;
}

.toast--succeces .toast__icon {
    color: #3f8428;
}

.toast--infor {
    border-color: #150c95;
}

.toast--infor .toast__icon {
    color: #150c95;
}

.toast--warnming {
    border-color: #acb73a;
}

.toast--warnming .toast__icon {
    color: #acb73a;
}

.toast__body {
    flex-grow: 1;
}

.toast__icon {
    font-size: 22px;
    padding: 0 16px;
}

.toast__title {
    font-size: 18px;
}

.toast__msg {
    font-size: 14px;
    margin-top: 4px;
}

.toast__close {
    padding: 0px 16px;
    cursor: pointer;
}

.last-item {
    margin-left: 440px;
}

.footer-footer {
    width: 100%;
    height: 240px;
    background: #2a2038;
}

#img-logo-gud {
    position: relative;
    width: 256.66px;
    height: 144.09px;
    left: 165px;
    top: 50px;
}

.logo-and-contact {
    display: flex;
    color: whitesmoke;
    padding-left: 50px;
}

.contact-us {
    padding-left: 750px;
    padding-top: 50px;
    font-size: 1.1rem;
}

.contact-title-text {
    font-weight: 500;
    padding-left: 40px;
    color: rgb(93, 102, 204);
    text-decoration: underline;
}

.read-text {
    padding-left: 350px;
    font-size: 0.85rem;
    font-weight: 500;
    padding-top: 19px;
    white-space: pre-wrap;
    color: whitesmoke;
}

.contact-phone1-text {
    padding-left: 4px;
}

.table-responsive {
    border: 1px solid #ccc;
    border-radius: 3px;
}

.table-responsive td {
    border: 1px solid #ccc;
}

.table-responsive th {
    border: 1px solid #ccc;
}

.table-responsive td:last-child {
    border-right: none;
}

.table-responsive th:last-child {
    border-right: none;
}